# Core data libraries
numpy==1.26.0
pandas==2.3.2

# NLP
nltk==3.9.1
spacy==3.8.0
python-dotenv==1.1.1

# Machine Learning
scikit-learn==1.7.1
joblib==1.5.1
transformers==4.53.3
torch==2.8.0

# Visualization
matplotlib==3.10.5
seaborn==0.13.2
plotly==6.3.0
git+https://github.com/amueller/word_cloud.git

# Jupyter
ipykernel==6.30.1
notebook==7.4.5

#twitter to fetch real data
tweepy==4.16.0


# for api
fastapi>=0.84.0
uvicorn[standard]>=0.23.2
sqlalchemy
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]
python-multipart
pydantic>=2.0
pydantic[email]
reportlab==4.4.3



